<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.cloud.base.mapper.CostRecordMapper">
  <resultMap id="BaseResultMap" type="com.personal.cloud.base.entity.CostRecord">
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costUserId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costItemId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="costPrice" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="addDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="deleteFlag" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, costUserId, costItemId, costDate, costPrice, addDate, deleteFlag
  </sql>
  <select id="selectByExample" parameterType="com.personal.cloud.base.entity.CostRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cost_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.personal.cloud.base.entity.CostRecordExample">
    delete from cost_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.personal.cloud.base.entity.CostRecord">
    insert into cost_record (id, costUserId, costItemId, 
      costDate, costPrice, addDate, 
      deleteFlag)
    values (#{id,jdbcType=VARCHAR}, #{costUserId,jdbcType=VARCHAR}, #{costItemId,jdbcType=VARCHAR}, 
      #{costDate,jdbcType=TIMESTAMP}, #{costPrice,jdbcType=VARCHAR}, #{addDate,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.personal.cloud.base.entity.CostRecord">
    insert into cost_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="costUserId != null">
        costUserId,
      </if>
      <if test="costItemId != null">
        costItemId,
      </if>
      <if test="costDate != null">
        costDate,
      </if>
      <if test="costPrice != null">
        costPrice,
      </if>
      <if test="addDate != null">
        addDate,
      </if>
      <if test="deleteFlag != null">
        deleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="costUserId != null">
        #{costUserId,jdbcType=VARCHAR},
      </if>
      <if test="costItemId != null">
        #{costItemId,jdbcType=VARCHAR},
      </if>
      <if test="costDate != null">
        #{costDate,jdbcType=TIMESTAMP},
      </if>
      <if test="costPrice != null">
        #{costPrice,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null">
        #{addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.personal.cloud.base.entity.CostRecordExample" resultType="java.lang.Long">
    select count(*) from cost_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cost_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.costUserId != null">
        costUserId = #{record.costUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.costItemId != null">
        costItemId = #{record.costItemId,jdbcType=VARCHAR},
      </if>
      <if test="record.costDate != null">
        costDate = #{record.costDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.costPrice != null">
        costPrice = #{record.costPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.addDate != null">
        addDate = #{record.addDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null">
        deleteFlag = #{record.deleteFlag,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cost_record
    set id = #{record.id,jdbcType=VARCHAR},
      costUserId = #{record.costUserId,jdbcType=VARCHAR},
      costItemId = #{record.costItemId,jdbcType=VARCHAR},
      costDate = #{record.costDate,jdbcType=TIMESTAMP},
      costPrice = #{record.costPrice,jdbcType=VARCHAR},
      addDate = #{record.addDate,jdbcType=TIMESTAMP},
      deleteFlag = #{record.deleteFlag,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>