<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.cloud.cost.mapper.CostRecordEMapper">
  <resultMap id="BaseResultMap" type="com.personal.cloud.cost.model.CostRecordHasDic">
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costUserId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costItemId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costItemName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="costPrice" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="addDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="deleteFlag" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>

  <select id="selectAllHasDic" parameterType="com.personal.cloud.cost.model.CostRecordSearch" resultType="com.personal.cloud.cost.model.CostRecordHasDic">
    SELECT a.*
    ,(select itemName from cost_item b where b.id=a.costItemId) as costItemName
    FROM cost_record a
    WHERE a.deleteFlag = 0
    <if test="costDateStart != null ">
      and a.costDate >= #{costDateStart}
    </if>
    <if test="costDateEnd != null ">
      and a.costDate &lt;= #{costDateEnd}
    </if>
    <if test="costPriceStart != null ">
      and a.costPrice >= #{costPriceStart}
    </if>
    <if test="costDateEnd != null ">
      and a.costPrice &lt;= #{costPriceEnd}
    </if>
    <if test="costItemId != null ">
      and a.costItemId = #{costItemId}
    </if>
    <if test="remark != null ">
      and a.remark like concat('%',#{remark},'%')
    </if>
    order by a.costDate desc
  </select>

  <!-- 批量插入数据 -->
  <insert id="insertBatch" parameterType="java.util.List">
    <!--<selectKey resultType="long" keyProperty="id" order="AFTER">-->
      <!--SELECT UUID()-->
    <!--</selectKey>-->
    insert into cost_record
    (id,costItemId,costDate,costPrice,addDate,remark,deleteFlag)
    values
    <foreach item="item" collection="list" separator="," index="">
      (
      #{item.id},#{item.costItemId},#{item.costDate},#{item.costPrice},#{item.addDate},#{item.remark},0
      )
    </foreach>
  </insert>
</mapper>