<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.cloud.money.mapper.CostTypeEMapper">
  <resultMap id="BaseResultMap" type="com.personal.cloud.money.model.CostRecordHasDic">
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costUserId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costItemId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costItemName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="costDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="costPrice" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="addDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="deleteFlag" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>

  <select id="getMaxCode"
          parameterType="String"
          resultType="String">
    select max(code) from cost_type
    WHERE deleteFlag = 0
    <if test="parentCode != null ">
      and code like concat(#{parentCode},'%')
      and code != #{parentCode}
      and length( #{parentCode})+2 = length(code)
    </if>
    <if test="parentCode == null ">
      and length(code)=2
    </if>
  </select>

  <select id="getCascader"
          parameterType="String"
          resultType="com.personal.common.entity.CostType">
    select * from cost_type
    WHERE deleteFlag = 0
    <if test="parentCode != null ">
      and code like concat(#{parentCode},'%') and code != #{parentCode}
    </if>
    and addUserName='${userName}'
    order by sortNo
  </select>

  <select id="getFieldLabelByInCode" resultType="com.personal.common.entity.CostType">
    select * from cost_type
    WHERE deleteFlag = 0 and addUserName='${userName}'
    and code IN
    <foreach collection="codeList" item="code" index="i" open="(" close=")" separator=",">
      #{code}
    </foreach>
    order by sortNo
  </select>

</mapper>